<?php
<?php

return array(
    'dojo' => array(
        'activeDojoRoot' => 'release',
        'require' => array(
//        'dojo',
//        'borderContainer',
//        'contentPane',
//        'button',
//        'enhancedGrid',
//        'checkedMultiSelect',
//        'standby',
//        'uploader',
//        'uploaderFilelist',
//        'uploaderHtml5'
        ),
    ),    
);
