<?php
return array(
    'di' => array(
        'instance' => array(

            //uncomment any dojo modules you require
            'DojoModule\View\Helper\Dojo' => array(
                'injections' => array(
                    'addModule' => array(
                        //array('functionName' => 'borderContainer', 'module' => 'dojo_borderContainer'),
                        //array('functionName' => 'contentPane', 'module' => 'dojo_contentPane'),
                        //array('functionName' => 'enhancedGrid', 'module' => 'dojo_enhancedGrid'),
                        //array('functionName' => 'checkedMultiSelect', 'module' => 'dojo_checkedMultiSelect'),
                        //array('functionName' => 'standby', 'module' => 'dojo_standby'),                             
                        //array('functionName' => 'uploader', 'module' => 'dojo_uploader'), 
                        //array('functionName' => 'uploaderFilelist', 'module' => 'dojo_uploader_filelist'), 
                        //array('functionName' => 'uploaderHtml5', 'module' => 'dojo_uploader_html5'),                         
                    )
                ),                                
            ),
        ),
    ),
);
